# Node modules (these will be installed by npm users)
node_modules/

# Build directories (exclude others but include dist/)
build/

# Environment files (these are project-specific)
.env

# Logs
*.log

# TypeSafe test folder (not needed for npm package)
typesafe-test/

# Ignore test.js in the typesafe-env folder (if it's for internal testing)
test.js

# Editor/IDE config files (not required for npm package)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
